<!DOCTYPE html>

<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>My Best Mi</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:00px; }
    </style>
</head>
<body>

<div class="container">

    <div class="jumbotron text-center">
        
        <div class="col-sm-6 col-sm-offset-3">
            <p><img src="MBMI_logo.png" alt="Brand Image Mountain Peak" text-center style="width:95%;height:95%;"></p>
        </div>
        
        <div class="col-sm-6 col-sm-offset-3" text-center >
            <h2 style="color:#FFFFFF; background-color:#454ADE" color:"#FFFFFF" text-center style="width:50%;height:50%">The GPS For Your Amazing <br> Purpose-Driven <br> Life Journey</h2>
        </div>

        
        <div class="col-sm-6 col-sm-offset-3">
            <p>Login or Register with:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        </div>
    </div>

</div>
</body>
</html>