<!DOCTYPE html>

<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>My Best Mi</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>

<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-caret-square-o-up"></span> My Best Mi</h1>
    
        <p><img src="MBMI_logo.png" alt="Brand Image Mountain Peak" style="width:304px;height:228px;"></p>


        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

</div>
</body>
</html>